*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Architects Daughter', cursive;
}
html{
    height: 100vh;
}
body{
    position: relative;
    background-color:rgba(35, 203, 167, 0.2);  ;
    height: 100vh;
}
table{
    margin: 0 auto;
   padding-top: 50px;
}
td{
    width: 100px;
    height: 50px;
    border: 1px solid #000000;
}

#modal_wrapper{
display: none;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
}
#modal_window{
    margin:200px auto;
    width: 320px;
    height: 400px;
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    border:5px solid #fefefe;
}
#modal_window div:first-child{
    width: 30px;
    align-self: flex-end;
    cursor: pointer;
}
.active{
    background-color:rgba(35, 203, 167, 0.8);

      
}

#wrapper_modalYorN{
display: none;
top: 0;
left: 0;
position: absolute;
width: 100%;
height: 100vh;
background: rgba(0, 0, 0, 0.9);
}

#modalYorN{
    margin:200px auto;
    width: 320px;
    height: 200px;
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
}
#modalYorN>span{
    text-align: center;
    padding: 50px;
}
.YoNbtns{
    display: flex;
    justify-content: space-around;

}

.styleArticle{
    text-align: center;
    background-color: #000000;
    color: #dddddd;
}
td:first-child{
    background-color: #cccc;
    font-size: large;
    text-align: center;
}

#btn_new_event,#btn_create_event{
    display: block;
    width: 200px;
    height: 50px;
    margin: 10px auto;
}
#participiants{
    width: 200px;
  display: block;
    margin: 0 auto;
}

p{
    margin:10px 0 2px 10px;
}

.YoNbtns button{
width: 100px;
}


